@model Lab03_DuongQuocAn.Models.Rubik

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:16px;">
        <dt>
           Tên loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai.tenloai)
        </dd>

        <dt>
            Tên:        
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            Hãng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hang)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            Hình:
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.hinh)" alt="Alternate Text" /> 
        </dd>

        <dt>
           Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongton)
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
